frontend https_in
	mode tcp
	bind *:443
	tcp-request inspect-delay 5s
	tcp-request content accept if { req.ssl_hello_type 1 }
	timeout client 30s

	acl acl_HAFIFA req.ssl_sni -i ilovehafifa.com
	acl acl_CLOUDS req.ssl_sni -i iloveclouds.com

	use_backend backend_hafifa if acl_HAFIFA
	use_backend backend_clouds if acl_CLOUDS

backend backend_hafifa
	mode tcp
	option ssl-hello-chk
	timeout connect 5s
	timeout server 30s
	server nginx1 192.168.58.11:443 check

backend backend_clouds
	mode tcp
	option ssl-hello-chk
	timeout connect 5s
	timeout server 30s
	server nginx2 192.168.58.12:443 check

